.profile-card{
    height: 300px;
    width: 600px;
    background-color: #e6e6e6;
    position: relative;
    left: 30%;
    margin-top: 15%;
    border-radius: 15px;
    border: 4px solid white;
}

.sachin-1{
    position: absolute;
    height: 150px;
    width: 150px; 
    left: 35px;
    top: 35px;
    border-radius: 50%;
    border: 2px solid white;
    
}

.follow{
   position: absolute;
   left: 200px;
   bottom: 50px;
   width: 80px;
   height: 30px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: skyblue;
}

.view-profile{
    position: absolute;
    right: 200px;
    bottom: 50px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
}
body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

