
.training-item{
        background-color:#e6e6e6;
        padding: 20px 0px;
        height: 300px;
        width: 300px;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 1px 2px rgb(73, 73, 73);
     }

     .container{
        display: flex;
        /* background-color: skyblue; */
        justify-content: space-around; 
       
     }

     .training-section{
      text-align: center;
     }

     
     .training-item p{
      font-size: 16px;
      
     }
    
     .training-item button{
      background-color: skyblue;
      padding: 10px 25px;
      margin-top: 23px;
      color: black;
      border: none;
      border-radius: 10px;
      border: 1px solid black;
     }

     .training-item:hover button{
      background-color: white;
      color: black;
      border: 1px solid black;
     }

     .training-item:hover{
      box-shadow: red;
     }

    .mongodb-img{
      height: 80px;
    }
     